[submodule "frame-extractor"]
	path = frame-extractor
	url = https://github.com/lajoiepy/frame-extractor.git
[submodule "vpr-and-uncertainty-calibrator"]
	path = vpr-and-uncertainty-calibrator
	url = https://github.com/lajoiepy/vpr-and-uncertainty-calibrator.git
